* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}


:root {
    --main-color: rgb(14, 41, 84);
    --second-color: rgb(31, 110, 140);
    --text-color: #FFFFFF;
    --second-text-color: rgb(136, 136, 223);
    --footer-text-color: #A2B8EE;
}

/****************************Header Part *******************************/
header {
    height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #020024 0%, rgb(33, 57, 101) 60%, var(--main-color) 100%);
    position: fixed;
    box-shadow: 0 0 .8rem #0ef;
}

.header-container {
    height: 70%;
    width: 1186px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.7rem;
}

.left-logo {
    color: var(--text-color);
    text-decoration: none;

}

.right-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 45%;
    /* background-color: yellow; */
    /* margin: 0 0.4rem; */


}

#menu-icon {
    display: none;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.right-menu ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
    width: 70%;
    justify-content: space-around;
}

.right-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.right-menu ul li a:hover {
    color: var(--footer-text-color);
}

.sign-dark {
    /* width: 150px; */
    display: flex;
    /* margin: 0 1rem; */
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 0.4rem;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;

    height: 40px;
    width: 90px;
    border: 1px solid var(--second-text-color);
    border-radius: 6px;
    transition: 0.2s ease;
}


.login:hover {

    box-shadow: 0 0 .7rem var(--second-text-color);
}

#moon {
    color: var(--text-color);
    font-size: 2rem;
}

.dark {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 25px;
    height: 38px;
    width: 38px;
    border: 1px solid var(--second-text-color);
    border-radius: 50%;
    transition: 0.2s ease;
}

.dark:hover {

    box-shadow: 0 0 .7rem var(--second-text-color);
}


.profile {
    height: 40px;
    position: absolute;
    background: #ffffff;

    width: 100px;
    right: 60px;
    top: 15px;

    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    border-radius: 10px;

}

.active2 {
    display: flex;
}

/********************************************************* mian-content *****************************************************/
.mian-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-list {
    margin-top: 4.3rem;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.content-list section {
    height: 800px;
    min-height: 94vh;
    width: 99%;
    border-radius: 18px;
    /* border: 2PX solid rgb(4, 4, 35); */

    /* background-color: #fa1ec3; */
}

.iamMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-image: linear-gradient(90deg, #020024 0%, rgb(33, 57, 101) 60%, var(--main-color) 100%); */
}

.urls-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92%;
    width: 70%;


}

.urls {
    height: 88%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    /* border: 1px solid rgb(179, 178, 185); */
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 80px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #dcd7d7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

    background: #cac2c2;
}


.serach-urls {
    width: 89%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serach-urls input {
    width: 60%;

    height: 59px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    font-family: sans-serif;
    font-size: 20px;


}

.search-icon {
    position: absolute;
    right: 20%;
     height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: rgb(32, 4, 59);
    background-image: linear-gradient(90deg, #020024 0%, rgb(33, 57, 101) 60%, var(--main-color) 100%);

}


.ul-outer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border-radius: 5px;
    list-style: none;
    width: 80%;
    background: #f9fafb;
    color: rgb(127, 119, 119);
    font-size: x-large;
    margin-top: 13px;
    /* border: 1px solid rgb(241, 234, 234); */

    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Add transition effect */

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.ul-outer.visible {
    opacity: 1;
    /* Fully visible */
}



.ul-outer li {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-btn {
    height: 47px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    color: white;
    width: 78px;

    background-color: #007cff;
}


.edit-btn {
    height: 47px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    color: white;
    width: 78px;
    display: none;
}

.edit-btn {
    background-color: rgb(232, 35, 35);
    color: white;
}

.active-remove-btn {
    display: block;
    /* Change to block to show edit buttons */
}

.active-copy-btn {
    display: none;
    /* Change to block to show copy buttons */
}

.edit-btn:hover {
    background: rgb(231, 86, 86);
    transition: all 0.1s ease-in;
}

.copy-btn-copied {
    background-image: linear-gradient(90deg, #020024 0%, rgb(33, 57, 101) 60%, var(--main-color) 100%);
        
    border: 1px solid rgb(5, 126, 70);
    color: white;
    transform: scale(0.96);
    /* Slightly enlarge the button */
}

.url-name {
    width: 88%;

    height: 47px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    grid-column: span 6;
    background-color: #F9FAFB;
    border: 1px solid #edeff3;
    color: #6B7280;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 0.625rem;
    font-family: sans-serif;
    width: 100%;
    margin-right: 5px;

}

/***************************************************************** Footer **********************************************************************/
footer {
    height: 280px;
    width: 100%;
    background-color: rgb(32, 39, 56);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.footer-content {

    max-width: 1186px;
    height: 180px;
    /* border: 1px solid #fff; */
    display: flex;
    margin-bottom: 1rem;

    justify-content: space-evenly;
    /* padding: 0 2rem; */
    margin-bottom: 1.8rem;

}

.wd {
    width: 25%;
    /* border: 1px solid white; */
    border-radius: 5px;
    min-width: 100px;
}

.urlSaver {
    padding: 0 1rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* border: 2px solid white; */
    height: 170px;

}

.urlSaver p {
    margin-top: 1rem;
    color: var(--footer-text-color);
}

.urlSaver i {
    font-size: 2rem;
}

.urlSaver .iii {
    display: flex;
    gap: 1.2rem;

}

.explore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 140px;

}

.explore ul {

    list-style-type: none;
    text-align: left;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore ul a {

    text-decoration: none;
    color: var(--footer-text-color);

}

.explore ul a:hover {
    text-decoration: underline;

}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;

}

.contact a {
    text-decoration: none;
    color: var(--footer-text-color);
}

.contact a:hover {
    text-decoration: underline;

}

.h2-exf {
    text-align: center;
    color: var(--text-color);
}

.follow {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;

    height: 170px;
}

.social-media {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    gap: 0.3rem;
    text-align: left;

    width: 40%;


}

.social-media a {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    color: var(--footer-text-color);
    /* background-color: red; */
    text-align: left;
    gap: 0.8rem;


}

.social-media a i:hover {
    background-color: var(--footer-text-color);
    color: var(--footer-text-color);
    box-shadow: 0 0 .7rem var(--second-text-color);
    transform: scale(1);
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--second-text-color);
}

.social-media a i {
    font-size: 1.7rem;
    color: var(--second-text-color);
    text-align: left;
    transition: .3s ease;
    border-radius: 10px;


}

.reserved-footer {
    height: 20px;
    padding-top: 1rem;
    width: 1186px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--text-color);
}

.foo-p a {
    text-decoration: none;
}

.foo-p a:hover {
    text-decoration: underline rgb(124, 173, 232);
}

.foo-p a span {
    color: var(--footer-text-color);
}



@media (max-width:650px) {
    .urlSaver .iii {
        display: flex;
        gap: 1rem;
        justify-content: center;


    }
   

    .ul-outer {
        width: 99%;
    }

    .urls-page {
        width: 90%;
    }

    .profile {
        left: 0;
        height: 32px;
        top: -34px;
        width: 80px;
    }

    .serach-urls input {
        width: 100%;

    }

    .search-icon {
        right: 0%;
    }

    .urlSaver {
        padding-top: 10px;
        gap: 0.4rem;
        text-align: center;
    }

    .explore {
        height: 140px;
        margin-bottom: 1rem;
    }

    .contact {
        height: 80px;
        margin-bottom: 1rem;

    }

    .reserved-footer {
        height: 100px;
        padding-top: 0;
        width: 80%;
    }

    footer {

        height: 750px;
        width: 100%;

    }

    .footer-content hr {
        border: none;
    }

    .footer-content {

        height: 550px;
        display: grid;
        margin: 0;
        width: 100%;

    }

    /* *************header ************/
    header {
        height: 63px;
        overflow: visible;
        background-image: linear-gradient(90deg, #020024 0%, rgb(12, 35, 78) 70%, var(--main-color) 100%);
    }

    .header-container {
        margin: 0 0.2rem;
    }

    .right-menu {
        display: none;
        justify-content: center;
        align-items: center;
        margin-left: -1rem;
    }

    .sign-dark {
        /* margin: 0; */
        width: 100%;
    }

    #menu-icon {
        display: block;
    }

    #moon {
        color: var(--text-color);
        font-size: 2rem;
    }

    .dark {
        display: block;
    }

    .dark:hover {

        box-shadow: 0 0 .7rem var(--second-text-color);
    }


    .active {
        top: 4.1rem;
        right: 1rem;
        display: flex;
        display: block;
        position: absolute;
        background-color: var(--main-color);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        right: -1px;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        animation: mymove ease-out 0.18s 1;
        padding: 1rem;
        z-index: -1;



    }

    @keyframes mymove {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;
        }
    }

    .active ul {
        display: flex;
        margin-top: 1.2rem;
        width: 100%;
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;

        /* height: 500px; */

    }

    .active .sign-dark {
        /* margin-left: 10px; */
        flex-direction: column;
        gap: 1.5rem;
    }

    .wd {
        width: 270px;
    }

    section {
        height: 100vh;
    }

    .hero-section {
        flex-direction: column;
    }

    .left-hero {
        width: 100%;

    }

    .right-hero {
        width: 100%;
    }

    .about-section {
        flex-direction: column;

    }

    .left-about {

        width: 100%;

    }

    .right-about {
        width: 100%;
        height: 60%;
        justify-content: space-between;
        gap: 10px;
    }

    .r-upper {
        width: 99%;
        height: 50%;
        overflow: hidden;
    }

    .r-lower {
        height: 50%;
        width: 99%;
        overflow: hidden;
    }

    .left-about img {
        width: 83%;

    }
    .url-name {
        font-size: 15px;
    }
    .copy-btn {
        height: 40px;
        width: 60px;
    }
    .edit-btn {
        height: 40px;
        width: 60px;
        font-size: 12px;
    }
    .serach-urls input {
        /* width: 60%; */
    
        height: 50px;
    
    }
    .urls {
        padding: 0;
    }

    
}


/* Url meadi */
@media (max-width:923px) {
    .ul-outer {
        height: 70px;
    }
    .ul-outer li{
        width: 95%;
    }
    .url-name{
        padding-left: 10px;
        width: 100%;
        overflow: hidden;
        height: 40px;
    }
    
   
    .urls-page {
        width: 96%;
    }

}